img.mosaic{
    width: auto;
    height: 100%;
    max-height: 100vh;/* ie8 */
}
#img-container{
    width: auto;
    height: 100%;
    text-align: center;
}

body{
    background: url('https://sjabr.sharepoint.com/sites/GalaMosaic/Shared%20Documents/MosaicBg.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}